#offerte {
    background: rgb(255,216,244);
    background: linear-gradient(0deg, rgba(255,216,244,1) 0%, rgba(186,237,255,1) 100%);
}

#navbar {
    background: rgb(255,216,244);
    background: linear-gradient(0deg, rgba(255,216,244,1) 0%, rgba(186,237,255,1) 100%);

}